[Desktop Entry]
Comment=inspired.
Name=Heqro's Dark Theme
X-KDE-PluginInfo-Author=Heqro
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=heqromancer@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=heqroDark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=heqro.wordpress.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
