[Desktop Entry]
Comment[an_ES]=
Comment=
Comment[en_US]=
Exec=~/.local/share/heqro-kde-scripting/executables-with-script/ChangeActivity.sh 1
GenericName[an_ES]=
GenericName=
GenericName[en_US]=
Icon=format-text-code
MimeType=
Name[an_ES]=A2-Fiddling
Name=A2-Fiddling
Name[en_US]=A2-Fiddling
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
